################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/CODARTOOL/bin/Debug
/CODARTOOL/obj/Debug
